<template>
  <v-app>
    <app-nav-drawer></app-nav-drawer>

    <app-bar></app-bar>

    <app-main></app-main>

    <v-overlay class="text-center" :value="showProgressCircular" :z-index="2147483647">
      <v-progress-circular
        :indeterminate="true"
        :size="100"
        :width="7"
      />
    </v-overlay>
  </v-app>
</template>

<script>
import AppBar from './AppBar'
import AppNavDrawer from './NavDrawer'
import AppMain from './Main'
import { mapState } from 'vuex'

export default {
  name: 'App',
  components: {
    AppBar,
    AppNavDrawer,
    AppMain,
  },
  data: () => {
    return {
    }
  },
  computed: {
    ...mapState(['showProgressCircular'])
  }
};
</script>