<template>
    <v-app-bar
      app
      :color="color"
    >
      <v-app-bar-nav-icon @click="toggleDrawerVariant()"></v-app-bar-nav-icon>

      <router-link
        id="logo"
        class="d-flex flex-row text-decoration-none"
        :to="{name: 'admin'}"
      >
        <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            src="../../../assets/imgs/vuetify-logo-dark.png"
            transition="scale-transition"
            width="30"
        />
        <v-toolbar-title class="align-self-center">Farmácia</v-toolbar-title>
      </router-link>
      <v-spacer></v-spacer>
      <v-btn
        icon
        @click.stop="toggleTheme()"
      >
        <v-icon v-text="mdiInvertColors"></v-icon>
      </v-btn>
    </v-app-bar>
</template>
<script>
import colors from 'vuetify/lib/util/colors'
import { mapMutations } from 'vuex'
import { mdiInvertColors } from '@mdi/js'
import ThemeManagerMixin from '../../../mixins/ThemeManager'

export default {
    name: 'app-bar',
    mixins: [ThemeManagerMixin],
    data() {
      return {
        mdiInvertColors,
      }
    },
    methods: {
      ...mapMutations(['toggleDrawerVariant']),
    },
    computed: {
      color: function () {
        return this.darkTheme ? colors.grey.darken4 : colors.shades.white;
      },
    }
}
</script>
<style>
  #logo {
    color: inherit;
  }
</style>