<template>
  <v-main :class="[mainBgColor]">
    <v-container class="pa-4" fluid>
      <v-row>
        <v-col cols="12">
          <span class="text-h4 font-weight-normal">{{ $route.meta.name }}</span>
        </v-col>
      </v-row>
      <v-row>
        <router-view></router-view>
      </v-row>
    </v-container>
  </v-main>
</template>
<script>
import ThemeManagerMixin from '../../../mixins/ThemeManager'
export default {
  name: 'app-main',
  mixins: [ThemeManagerMixin],
  data() {
    return {

    }
  },
  computed: {
    mainBgColor: function () {
      return this.darkTheme ? null : 'grey lighten-5';
    }
  }
}
</script>
<style>
</style>