<template>
  <v-navigation-drawer
    app
    v-model="showDrawer"
    :expand-on-hover="expandOnHover"
    :mini-variant-width="60"
    :color="color"
    :hide-overlay="false"
    :mobile-breakpoint="mobileBreakpoint"
  >
    <v-list
      dense
      nav
    >
      <v-list-item class="px-0">
        <v-list-item-avatar class="mr-6">
          <img v-if="!!user.image" src="https://randomuser.me/api/portraits/men/81.jpg">
          <v-icon v-else large v-text="noImageIcon"></v-icon>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>{{ user.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      

      <v-divider class="mb-1"></v-divider>

      <v-list-item
        v-for="item in items"
        :key="item.title"
        :to="{name:'enviar_orcamento'}"
        link
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ $t(item.title) }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>    
</template>

<script>
import { mdiEmailSend, mdiAccountCircle } from '@mdi/js'
import colors from 'vuetify/lib/util/colors'
import ThemeManagerMixin from '../../../mixins/ThemeManager'
import { mapState, mapMutations } from 'vuex'

  export default {
    name: 'app-nav-drawer',
    mixins: [ThemeManagerMixin],
    data () {
      return {
        noImageIcon: mdiAccountCircle,
        items: [
          { title: 'Enviar Orçamento', icon: mdiEmailSend },
        ],
      }
    },
    methods: {
      ...mapMutations(['toggleDrawerVariant'])
    },
    computed: {
      ...mapState(['expandDrawer', 'user']),
      color () {
        return this.darkTheme ? colors.grey.darken4 : colors.shades.white;
      },
      showDrawer: {
        get () {
          return !this.isInMobileViewport || this.expandDrawer
        },
        set (value) {
          if (value != this.expandDrawer) {
            this.toggleDrawerVariant()
          }
        }
      },
      expandOnHover () {
        return !this.isInMobileViewport && !this.expandDrawer
      },
      isInMobileViewport () {
        return this.$vuetify.breakpoint.mdAndDown
      },
      mobileBreakpoint () {
        return this.$vuetify.breakpoint.thresholds.md
      }
    },
  }
</script>
<style scoped>
  .v-navigation-drawer--mini-variant.v-navigation-drawer--custom-mini-variant .v-list-item {
    justify-content: inherit;
  }
</style>