<template>
  <v-menu
    v-model="datePickerMenu"
    :close-on-content-click="false"
    transition="scale-transition"
    offset-y
    max-width="290px"
    min-width="290px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-bind="attrs"
        v-on="on"
        :value="formattedDate"
        label="Data"
        readonly
        clearable
        @click:clear.prevent="clearDate()"
      ></v-text-field>
    </template>
    <v-date-picker
      :color="pickerColor"
      :value="date" 
      @input="handleDatePick($event)"
      :locale="locale"
      no-title
      :max="maxDate"
    />
  </v-menu>
</template>
<script>
import dateTimeformatter from '../../../formatters/date-time-formatter'
import moment from 'moment'
import { PICKER_DATE } from './formats'
import { isNullOrUndefined } from '../../../helpers'
// import colors from 'vuetify/lib/util/colors'

export default {
  name: 'app-date-picker',
  mixins: [],
  components: {},
  props: {
    value: {
      type: String,
      required: true,
    },
    disableFuture: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  data() {
    return {
      datePickerMenu: false,
      date: '',
      formattedDate: '',
    }
  },
  methods: {
    hideDatePicker () {
      this.datePickerMenu = false
    },
    showDatePicker () {
      this.datePickerMenu = true
    },
    handleDatePick (date) {
      this.date = date
      this.hideDatePicker()
    },
    clearDate () {
      this.date = ''
    }
  },
  computed: {
    locale () {
      return this.$i18n.locale
    },
    maxDate () {
      return this.disableFuture ? moment().format(PICKER_DATE) : undefined
    },
    pickerColor () {
      return 'primary'
    }
  },
  watch: {
    date: {
      immediate: true,
      handler (date) {
        this.$emit('input', date)
        
        if (!isNullOrUndefined(this.date) && this.date.length > 0) {
          this.formattedDate = dateTimeformatter.formatIso8061Date(this.date)
        } else {
          this.formattedDate = ''
        }
      },
    },
    value: {
      immediate: true,
      handler (value) {
        this.date = value
      },
    }
  }
}
</script>
<style>

</style>