<template>
    <v-app>
      <v-main>
        <h1>Login</h1>
      </v-main>
    </v-app>
</template>
<script>
export default {
    name: 'login',
    mixins: [],
    components: {},
    props: {},
    data() {
        return {
            
        }
    },
    methods: {
        
    }
}
</script>
<style>
</style>