<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :options.sync="options"
    :server-items-length="totalItems"
    :footer-props="{ itemsPerPageOptions: [10, 30], showFirstLastPage: true, showCurrentPage: true }"
    :multi-sort="multiSort"
    :mobile-breakpoint="0"
    class="elevation-1 text-no-wrap"
  >
    <template v-slot:top>
      <v-toolbar
        id="data-table-toolbar"
        flat
        dense
        :color="toolbarColor"
      >
        <v-spacer></v-spacer>
        <v-btn
          v-if="hasSlotFilter"
          @click.stop="showFilters = true"
          icon
        >
          <v-icon v-text="mdiFilter"></v-icon>
        </v-btn>
      </v-toolbar>
      <v-dialog
        v-if="hasSlotFilter"
        v-model="showFilters"
        max-width="600"
        persistent
      >
        <v-card>
          <v-card-title>
            <span class="text-h5">Filtros</span>
          </v-card-title>

          <v-card-text>
            <slot name="filters"></slot>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              text
              color="primary"
              @click="hideFilters()"
              v-text="$t('Fechar')"
            />

            <v-btn
              text
              color="primary"
              @click="changeFilters()"
              v-text="$t('Salvar')"
            />
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>

    <template v-for="c in columns" v-slot:[getColumnSlotName(c)]="{ item }">
      <v-edit-dialog
        v-if="c.editable"
        :key="c.value"
        :return-value.sync="item[getColumnAttribute(c)]"
      >
        {{ getCellValue(item, c) }}
        <template v-slot:input>
          <v-text-field
            v-model="item[getColumnAttribute(c)]"
            single-line
          ></v-text-field>
        </template>
      </v-edit-dialog>
      <span v-else :key="c.value">{{ getCellValue(item, c) }}</span>
    </template>

    <template v-if="hasSlotActions" v-slot:[`item.actions`]="{ item }">
      <slot name="actions" :item="item"></slot>
    </template>
  </v-data-table>
</template>

<script>
import { mdiFilter } from '@mdi/js'
import colors from 'vuetify/lib/util/colors'

export default {
  name: 'app-data-table',
  data () {
    return {
      mdiFilter,
      totalItems: 0,
      items: [],
      options: {},
      showFilters: false,
    }
  },
  props: {
    fetch: {
      type: Function,
      required: true
    },
    headers: {
      type: Array,
      required: true,
    },
    initialSort: {
      type: Array,
      required: false,
      default: () => ([]),
    },
  },
  created () {
    if (this.initialSort.length > 0) {
      this.options.sortBy = this.initialSort.map(x => x.field);
      this.options.sortDesc = this.initialSort.map(x => x.direction.toUpperCase() == 'DESC');
    }
  },
  mounted () {
    const footer = document.getElementsByClassName('v-data-footer')[0]
    footer.classList.add('justify-sm-end', 'flex-column', 'flex-sm-row')

    const perPage = footer.getElementsByClassName('v-data-footer__select')[0]
    perPage.classList.add('justify-center', 'justify-sm-end')

    const previous = footer.getElementsByClassName('v-data-footer__icons-before')[0]
    const after = footer.getElementsByClassName('v-data-footer__icons-after')[0]
    const page = previous.nextSibling

    const div = document.createElement('div')
    div.classList.add('d-flex', 'align-center', 'justify-center')
    footer.insertBefore(div, previous)

    div.appendChild(previous)
    div.appendChild(page)
    div.appendChild(after)    
  },
  watch: {
    options: {
      handler () {
        const vm = this
        vm.load()
      },
      deep: true,
    },
  },
  methods: {
    getColumnSlotName (c) {
      return 'item.' + c.value
    },
    getColumnAttribute (c) {
      return c.value
    },
    buildFetchParams () {
      const { sortBy, sortDesc, page, itemsPerPage } = this.options

      return {
        sort: sortBy
          .map((field, index) => {
            const direction = (sortDesc[index] ? 'DESC' : 'ASC')
            return `${field} ${direction}`
          })
          .join(','),
        page: page,
        perPage: itemsPerPage,
      }
    },
    changeFilters () {
      this.hideFilters()
      this.options.page = 1
      this.load()
    },
    hideFilters () {
      this.showFilters = false
    },
    load () {
      const vm = this
      this.fetch(this.buildFetchParams())
        .then(data => {
          vm.items = data.items
          vm.totalItems = parseInt(data.total)

          vm.$vuetify.goTo('#data-table-toolbar')

          vm.$emit('loaded')
        }, error => {
          vm.$emit('error', error)
        })
    },
    getCellValue (item, column) {
      return column.format 
        ? column.format(item[this.getColumnAttribute(column)]) 
        : item[this.getColumnAttribute(column)]
    }
  },
  computed: {
    toolbarColor () {
      return this.$vuetify.theme.dark ? null : colors.grey.lighten3
    },
    customFormatColumns () {
      return this.headers.filter(h => !!h.format)
    },
    columns() {
      return this.headers
    },
    multiSort () {
      return this.headers.filter(h => h.sortable).length > 1
    },
    hasSlotFilter () {
      return !!this.$slots.filters
    },
    hasSlotActions () {
      return !!this.$scopedSlots.actions
    },
  }
}
</script>
<style lang="sass">
// correcao para IOS
@import '../../../assets/styles/data-table.sass'
</style>