<template>
  <v-col cols="12">
    <app-data-table 
      :fetch="findOrcamentos"
      :headers="headers"
      :initial-sort="[{ field: 'data_entrada', direction: 'DESC' }]"
    >
      <template v-slot:filters>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              md="6"
            >
              <v-text-field v-model="filters.cliente" label="Cliente"></v-text-field>
            </v-col>
            <v-col
              cols="12"
              md="6"
            >
              <v-autocomplete
                :items="filiaisOptions"
                v-model="filters.filial"
                label="Filial"
                hide-no-data
                hide-selected
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="6"
            >
              <v-text-field v-model="filters.numero" label="Número"></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="6"
            >
              <app-date-picker v-model="filters.data" disable-future />
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:actions="{ item }">
        <v-btn
          icon
          small
        >
          <v-icon
            small
            class="mx-1"
            @click.stop="showItem(item)"
          >
            {{ sendIcon }}
          </v-icon>
        </v-btn>
      </template>

    </app-data-table>
    <v-dialog
      v-model="showItemDialog"
      max-width="800"
      persistent
    >
      <v-card v-if="showItemDialog" class="rounded-0">
        <v-card-title>
          <span class="text-h5" v-text="$t('Enviar Email')"></span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="6">
                <v-text-field
                  label="Número/Filial"
                  :value="`${item.num_orcamento}/${item.codigo_filial}`"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="Data"
                  :value="item.data_entrada"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  label="Cliente"
                  :value="item.nome_cliente"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <app-simple-table
                  v-model="selectedItems"
                  :headers="itensHeaders"
                  :items="item.items"
                  @item-updated="handleItemUpdate($event)"
                  show-select
                >
                </app-simple-table>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  label="Total"
                  :value="decimalformatter.formatApiDecimal(item.valor_total)"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-textarea
                  label="Observações"
                  v-model="item.observacao"
                  rows="2"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            text
            color="primary"
            v-text="$t('Fechar')"
            @click="hideItem()"
          />

          <v-btn
            text
            color="primary"
            v-text="$t('Enviar')"
            @click="enviarEmail()"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-col>
</template>

<script>
import AppDataTable from '../../widgets/data-table/DataTable'
import AppSimpleTable from '../../widgets/simple-table/SimpleTable'
import dateTimeformatter from '../../../formatters/date-time-formatter'
import decimalformatter from '../../../formatters/decimal-formatter'
import decimalConverter from '../../../converters/decimal-converter'
import farmaciaService from '../../../services/farmacia-service'
import AppDatePicker from '../../widgets/date-picker/DatePicker'
import { PICKER_DATE } from '../../widgets/date-picker/formats'
import { mapState } from 'vuex'
import moment from 'moment'
import { mdiEmailSendOutline } from '@mdi/js'

export default {
  name: 'enviar-orcamento',
  components: { AppDataTable, AppDatePicker, AppSimpleTable },
  data () {
    return {
      selectedItems: [],
      headers: [
        {
          text: 'Número',
          align: 'start',
          sortable: false,
          value: 'num_orcamento',
        },
        {
          text: 'Orçado em',
          align: 'start',
          sortable: true,
          value: 'data_entrada',
          format: (v) => dateTimeformatter.formatApiDate(v),
        },
        {
          text: 'Cliente',
          align: 'start',
          sortable: false,
          value: 'nome_cliente',
          format: (v) => v.toUpperCase(),
        },
        {
          text: 'Valor (R$)',
          align: 'end',
          sortable: true,
          value: 'valor_total',
          format: (v) => decimalformatter.formatApiDecimal(v),
        },
        {
          text: 'Filial',
          align: 'start',
          sortable: false,
          value: 'codigo_filial',
        },
        { 
          text: '', 
          value: 'actions', 
          sortable: false 
        },
      ],
      itensHeaders: [
        {
          text: 'Descrição',
          align: 'start',
          sortable: false,
          value: 'descricao',
          editable: true,
        },
        {
          text: 'Quantidade',
          sortable: false,
          value: '',
          format: (i) => `${i.quantidade} ${i.unidade}`,
        },
        {
          text: 'Valor (R$)',
          align: 'end',
          sortable: false,
          value: 'valor',
          editable: true,
        },
      ],
      filters: this.createEmptyFilters(),
      showItemDialog: false,
      item: null,
      decimalformatter,
      dateTimeformatter,
    }
  },
  methods: {
    findOrcamentos (params) {
      Object.assign(params, this.filters)
      return farmaciaService.findOrcamentos(params)
    },
    resetFilters () {
      this.filters = this.createEmptyFilters()
    },
    createEmptyFilters () {
      return {
        cliente: '',
        numero: '',
        filial: '',
        data: moment().format(PICKER_DATE),
      }
    },
    showItem (item) {
      const vm = this
      farmaciaService
        .getOrcamento(item.num_orcamento, item.codigo_filial)
        .then(o => {
          const item = JSON.parse(JSON.stringify(o))

          item.items.forEach(i => {
            i.valor = ''
          })

          item.valor_total = 0

          vm.item = item

          this.showItemDialog = true 
        })
    },
    hideItem () {
      this.showItemDialog = false
      this.selectedItems.splice(0)
    },
    enviarEmail() {
      const vm = this
      const orcamento = {
        num_orcamento: vm.item.num_orcamento,
        codigo_filial: vm.item.codigo_filial,
        itens: vm.selectedItems.map(i => {
          const item = JSON.parse(JSON.stringify(i))
          item.valor = decimalConverter.convertFromClientFormat(i.valor)
          return item
        }),
        valor_total: vm.item.valor_total,
        observacao: vm.item.observacao,
      }

      farmaciaService.enviarEmail(orcamento)
        .then(() => {
          alert('E-mail enviado com sucesso!')
          vm.hideItem()
        }, () => {
          alert('Falha ao enviar e-mail!')
        })
    },
    handleItemUpdate (event) {
      if (event.attribute === 'valor') {
        this.recalcularValorTotal()
      }
    },
    recalcularValorTotal () {
      let valorTotal = 0;

      this.selectedItems.forEach(i => {
        if (i.valor) {
          valorTotal += decimalConverter.convertFromClientFormat(i.valor)
        }
      })

      this.item.valor_total = valorTotal;
    }
  },
  computed: {
    ...mapState(['filiais']),
    filiaisOptions () {
      return this.filiais.map(f => ({ text: f, value: f }))
    },
    sendIcon () {
      return mdiEmailSendOutline
    },
  },
  watch: {
    selectedItems () {
      this.recalcularValorTotal()
    }
  }
}
</script>

<style>

</style>