<template>
  <v-data-table
    dense
    :value="value"
    @input="emitInput($event)"
    :show-select="showSelect"
    :headers="headers"
    :items="items"
    disable-filtering
    disable-pagination
    disable-sort
    hide-default-footer
    :mobile-breakpoint="0"
    class="elevation-1 text-no-wrap"
  >
    <template v-for="column in columns" v-slot:[getColumnSlotName(column)]="{ item }">
      <v-edit-dialog
        v-if="column.editable"
        :key="column.value"
        :return-value.sync="item[getValuePath(column)]"
        @save="emitItemUpdated(item, column)"
      >
        {{ getCellValue(item, column) }}
        <template v-slot:input>
          <v-text-field
            v-model="item[getValuePath(column)]"
            single-line
          ></v-text-field>
        </template>
      </v-edit-dialog>
      <span v-else :key="column.value">{{ getCellValue(item, column) }}</span>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: 'app-simple-table',
  data () {
    return {
      value: [],
    }
  },
  props: {
    items: {
      type: Array,
      required: true
    },
    headers: {
      type: Array,
      required: true,
    },
    showSelect: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {
    getColumnSlotName (c) {
      return 'item.' + c.value
    },
    getValuePath (c) {
      return c.value
    },
    getCellValue (item, column) {
      var cellValuePath = this.getValuePath(column);

      if (cellValuePath) {
        return column.format 
          ? column.format(item[cellValuePath]) 
          : item[cellValuePath]
      }

      return column.format 
          ? column.format(item)
          : item
    },
    emitItemUpdated (item, column) {
      this.$emit('item-updated', { 
        item: item, 
        attribute: this.getValuePath(column),
      })
    },
    emitInput (value) {
      this.$emit('input', value)
    }
  },
  computed: {
    columns() {
      return this.headers
    },
  }
}
</script>